.profile_pic {
    padding-top: 1em;
    padding-right: 10px;
    width: 6em;
}


.profile_text {
    padding-bottom: 20px;
    overflow: hidden;
}

@media (max-width: 64em){
.sidebar {
    max-width: 200px;
    display: flex; 
}}

@media (max-width: 428px){
    .sidebar {
        max-width: 180px;
        display: flex; 
    }}

img
{
    padding-right: 10px;
}

.sidebar {
    opacity: 1.0;
    max-width: 200px;
}

.page__footer {
	background-color: #003594;
}

.masthead {
	background-color: #003594;
}

.greedy-nav {
	background-color: #003594;
}

.greedy-nav a {
	color: white;
}

.greedy-nav a:hover {
	color: white;
}

.activepage {
	color: green;
}