/*#################### Defaults ###################*/
nav, header, footer {
    display: block;
}

body{
    line-height: 1;
    margin: 0
}

.container {
    margin: auto;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width:8.33%;}
.col-2 {width:16.66%;}
.col-3 {width:25%;}
.col-4 {width:33.33%;}
.col-5 {width:41.66%;}
.col-6 {width:50%;}
.col-7 {width:58.33%;}
.col-8 {width:66.66%;}
.col-9 {width:75%;}
.col-10 {width:83.33%;}
.col-11 {width:91.66%;}
.col-12 {width:100%;}
/*###################### Nav Bar #######################*/
nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background: #b3ecff;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right{
    list-style: none;
    float: right;
}

nav ul li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 6px;
    text-transform: uppercase;
    color: #666;
}

nav ul li a:hover {
    background: #ffff66;
    color: black;
}

ul.topnav li.dropdownicon {
    display: none;
}
/*############## Custom Styles #################*/
#section-1-gradient {
background: rgb(222,170,49);
background: linear-gradient(270deg, cadetblue 0%, #000838 100%);
}

.left-col {
    margin-left: 2%;
}
.vid-right {
    margin-left: 10%;
}
h1.large {
    color: cadetblue;
    font-size: 70px;
}

h2.large {
    color: cadetblue;
    font-size: 50px;
}

h1.section2header {
    font-size: 65px;
    text-align: center;
}
form h2 {
    color: Cadetblue;
}
input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    border-radius: 5px;
    padding: 5px;
}
input[type="password"]{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    border-radius: 5px;
    padding: 5px;
}
/*################## Mobile #################*/

@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
   ul.topnav li.dropdownicon {
    display: block;
    float: right;
    }
    ul.topnav.responsive li.dropdownicon {
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.topnav.responsive {
     position: relative;
    }
   nav ul.topnav.responsive li {
     display: inline;
     float: none;
    }
   nav ul.topnav.responsive li a {
        display: block;
        text-align: left;
        
     }
    
    .col-6 {
        width: 100%;
        margin: 0;
     }
    .left-col, .vid-right{
        margin:auto;
        margin-top: 15px;
     }

    input[type="text"]{
        text-align: center;
     }
    input[type="password"]{
        text-align: center;
     }
    iframe {
        position: relative;
        width: 100%;
        overflow: hidden;
     }
}